@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
}

header {
    background-image: linear-gradient(to right, #FF0000, #FFA500);
    padding: 10px;
}

i#burguer {
    display: block;
    text-align: right;
    font-size: 1.5em;
    color: white;
}

i#burguer:hover {
    color: black;
    transition-duration: .5s;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul > li {
    list-style-type: none;
}

menu > ul > li > a {
    display: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: right;
}

main {
    background-color: #E4DFDA;
    width: 100vw;
    margin: auto;
    padding: 10px;
}

main > p {
    text-align: justify;
    text-indent: 1.5em;
    margin-bottom: 20px;
}