@charset "UTF-8";

body {
    height: 97vh;
    width: 97vw;
    background-image: url(imagens/espaco.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

