@charset "UTF-8";

section#container {
    max-width: 110%;
    min-width: 280px;

    background-color: aquamarine;
    background-image: url(imagens/espaco.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
    margin: -8px;

    position: relative;
}

article#conteudo {
    background-image: url(imagens/astronauta.png);
    background-position: center center;
    height: 500px;
    width: 500px;

    position: absolute;

    left: 35%;
    top: 15%;

    transform: translate(0%, 0%);
}